@*change password page*@
@page "/change-password"  

<style>
    /* Custume theme styles */
    body {
        background-color: #eadbff;
    }

</style>

<nav class="navbar navbar-light d-flex justify-content-center ">
    <h1 class="navbar-brand text-primary">Change Your Password</h1>     @*change password text heading*@
</nav>
<br />
<div class="form-body">
    <div class="form-container">
        @if (_globalState.CurrentUser != null && _globalState.CurrentUser.HasInitialPassword)  //if current user is not equal to null and currentuser has initial password
        {
            <AlertMessage Type="warning" Message="You are using the initial password. Please change it." />  //alert message
        }
        <form class="text-center" @onsubmit="ChangePasswordHandler">
            <div class="form-floating">
                <input type="password" class="form-control current-password" @bind="_currentPassword"
                       placeholder="Current Password" />       @*current password input*@
                <label for="floatingInput" class="text-danger">Current Password</label>
            </div>
            <br />
            <div class="form-floating mb-3">
                <input type="password" class="form-control new-password" @bind="_newPassword"
                       placeholder="New Password" />    @*new password input*@
                <label for="floatingPassword" class="text-danger">New Password</label>
            </div>
            @if (!string.IsNullOrEmpty(_successMessage))
            {
                <AlertMessage Type="success" Message="@_successMessage" /> @*success message*@
            }
            else if (!string.IsNullOrEmpty(_errorMessage))
            {
                <AlertMessage Type="danger" Message="@_errorMessage" /> @*error message*@
            }
            <br />
            <button class="w-60 btn btn-lg btn-primary" type="submit">
                <span class="oi oi-check"></span> Submit
            </button>
        </form>
    </div>
    <div class=" navbar navbar-light d-flex justify-content-center ">
        <img class="mt-4" src="assets/pass.png" alt="logo" height="150">
    </div>
</div>

@code {
    [CascadingParameter]    //cascading parameter
    private GlobalState _globalState { get; set; }  //global state
    private string _currentPassword { get; set; }
    private string _newPassword { get; set; }
    private string _errorMessage = "";
    private string _successMessage = "";
    protected override void OnInitialized()
    {
        _errorMessage = "";
        _successMessage = "";
    }

    private void ChangePasswordHandler()    //change password handler
    {
        try
        {
            _errorMessage = "";
            _successMessage = "";
            _globalState.CurrentUser = UsersService.ChangePassword(_globalState.CurrentUser.Id, _currentPassword, _newPassword);
            _currentPassword = "";
            _newPassword = "";
            _successMessage = "The password has been changed successfully.";    //success message
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
            Console.WriteLine(e);
        }
    }
}
