
div.form-floating[b-29et7dz3n5] {
    width: 600px;
    height: 50px;
    display: block;
    margin: auto;
}

button[b-29et7dz3n5] {
    width: 600px;
    height: 50px;
    display: block;
    margin: auto;
}

h1.navbar-brand[b-29et7dz3n5] {
    font-size: 40px;
}
